*,h2{font-family: Nunito;}
body,html{margin:0;padding:0;border:0;}
h1{margin:0;text-align: center;font-family: Lora;font-style: italic; font-weight: 700;color:#4f2996;padding:1em;}
.flex{justify-content: center;align-items: center;display: flex;}
.padded{padding:1em;}
.suppered{color:darkgray;font-size:0.8em;font-style: italic;}
.disabled{filter: brightness(5.2) grayscale(1)}
.mist{
    position:absolute;
    width: 100%;height: 100%;
    top:0; left:0;
    z-index: 1;
    pointer-events: none;
    background: rgba(255,255,255,0); background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
}

.mdl-card__media{background-color:#4f2996;color:white;}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.steps-container-wrap{
  overflow:hidden;
  padding-bottom: 5px;
}
.steps{
  display: flex;
  position: relative;
  transition: all 0.5s;
}

.step{
  align-self: baseline;
  margin:0 5%;
  flex:none;
  width:60%;
}
.step0{
  margin-left: 20%;
}

.steps[data-step="1"]{
  left: -70%;
}
.steps[data-step="2"]{
  left: -140%;
}
.steps[data-step="3"]{
  left: -210%;
}
.steps[data-step="4"]{
  left: -280%;
}
.steps[data-step="5"]{
  left: -350%;
}

.card-wide > .mdl-card__title {
  color: #fff;
  height: 6em;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}

.choices{
  display: flex;
  padding: 0em 0.5em;
}
.choices > .mdl-card__media{
  width:100%;
}

.dz-clickable{
  border: 2px dashed #4e2895;
  border-radius: 5px;
  background: white;
  color: #503097;
}
